@import '../sass/variable-function.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Papyrus,serif,sans-serif;
}
html{
    background-color: $light-grey;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: fit-content;
}

::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: $dark-grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $light-grey;
  }

.electric::-webkit-meter-optimum-value{
background-color: $electric;
}
.fire::-webkit-meter-optimum-value{
background-color: $fire;
}
.water::-webkit-meter-optimum-value{
background-color: $water;
}
.grass::-webkit-meter-optimum-value{
background-color: $grass;
}
.normal::-webkit-meter-optimum-value{
background-color: $normal;
}
.dark::-webkit-meter-optimum-value{
background-color: $dark;
}
.dragon::-webkit-meter-optimum-value{
background-color: $dragon;
}
.fairy::-webkit-meter-optimum-value{
background-color: $fairy;
}
.fighting::-webkit-meter-optimum-value{
background-color: $fighting;
}
.flying::-webkit-meter-optimum-value{
background-color: $flying;
}
.bug::-webkit-meter-optimum-value{
background-color: $bug;
}
.poison::-webkit-meter-optimum-value{
background-color: $poison;
}
.psychic::-webkit-meter-optimum-value{
background-color: $psychic;
}
.ground::-webkit-meter-optimum-value{
background-color: $ground;
}
.rock::-webkit-meter-optimum-value{
background-color: $rock;
}
.ghost::-webkit-meter-optimum-value{
background-color: $ghost;
}
.steel::-webkit-meter-optimum-value{
background-color: $steel;
}
.ice::-webkit-meter-optimum-value{
background-color: $ice;
}
